extends ../layout

block content
	.container
		ul.breadcrumb
			li
				a(href="/projects/#{project.title}") #{project.title}
			li
				a(href="/projects/#{project.title}/#{release.version}") Version #{release.version}
			li.active Minidump #{crash.crash_id}